
#skills {
  @extend .site__width-height;
  background-color: $skills-bg-color;
  display: flex;

  h2 {
      font-size: 3rem;
      margin: 2rem;

      &:after {
        content: "";
        display: block;
        width: 140%;
        height: 5px;
        margin-top: 5px;
        background-color: $underline-bg-color;
      }
    }
}
